@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

/* Default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1125px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-banner-wrapper {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}

/* Default*/

/* Header Start */
header {
  padding: 20px 0;
  border-bottom: 1px solid #a1c2ec;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
}

.header-wrapper h1,
.footer-bt-wrapper h1 {
  cursor: pointer;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.header-wrapper > div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 32px; */
}

.header-wrapper > div ul {
  display: flex;
  gap: 20px;
  /* flex-grow: 1; */
}

.header-wrapper ul li a {
  color: #656464;
  font-size: 14px;
  transition: all 0.3s;
}

.header-wrapper ul li a:hover {
  color: #2b2b39;
  font-weight: 600;
}

.header-wrapper > div > a {
  font-weight: 600;
  padding: 10px 30px;
  background-color: #217bf4;
  border-radius: 15px;
  color: #ffffff;
}
/* Header End */

/* Banner Start */

.banner {
  padding: 80px 0;
}

.banner-wrapper > div {
  width: 50%;
}

.banner-wrapper > div:first-child {
  padding: 70px 0;
}

.banner-wrapper > div:last-child img {
  width: 100%;
}

.banner-wrapper > div:first-child h1 {
  font-size: 40px;
  margin: 20px 0;
  color: #0a093d;
  font-weight: 600;
}

.banner-wrapper > div:first-child p {
  font-size: 18px;
  color: #656464;
}

.banner-wrapper > div:first-child h1 span {
  display: block;
}

.banner-wrapper > div:first-child > div {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.banner-wrapper > div:first-child > div a {
  font-size: 14px;
  padding: 15px 30px;
  border-radius: 20px;
}

.banner-wrapper > div:first-child > a:first-child {
  background-color: #e7f1fe;
  padding: 10px 20px;
  border-radius: 15px;
  color: #217bf4;
}

.banner-wrapper > div:first-child > div a:first-child {
  background-color: #217bf4;
  color: #ffffff;
}

.banner-wrapper > div:first-child > div a:last-child {
  border: 2px solid #217bf4;
  color: #217bf4;
}

.banner-wrapper {
  display: flex;
}
/* Banner End */

/* Netbook Start */

.netbook {
  padding: 80px 0;
}

.netbook-wrapper {
  display: flex;
}

.netbook-wrapper > div {
  width: 50%;
}

.netbook-wrapper > div:last-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.netbook-wrapper > div:last-child div {
  width: 25%;
}

.netbook-wrapper > div:last-child > div:first-child img {
  /* background-color: red; */
  height: 238px;
  width: 172px;
}

.netbook-wrapper > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 30%;
}
.netbook-wrapper > div:last-child > div:last-child img {
  height: 50%;
  border-radius: 10px;
}

.netbook-wrapper > div:first-child span:first-child {
  /* background-color: red; */
  color: #217bf4;
  display: inline-block;
  margin: 20px 0 10px 0;
  font-size: 18px;
  font-weight: 300;
}

.netbook-wrapper > div:first-child h3 {
  font-size: 36px;
  font-weight: 700;
  color: #0a093d;
}

.netbook-wrapper > div:first-child p {
  margin: 20px 0;
  color: #656464;
  font-size: 16px;
}

.netbook-wrapper > div:first-child span ~ span {
  color: #0a093d;
  font-weight: 600;
  display: block;
  margin-left: 25px;
  margin-bottom: 10px;
  position: relative;
}

.netbook-wrapper > div:first-child span ~ span::before {
  position: absolute;
  content: url(../assets/dot/dot.svg);
  left: -25px;
}

/* Netbook End */

/* Award Start */
.award-section {
  margin-bottom: 30px;
}

.award-section .award-wrapper > div {
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 30%;
  padding: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

.award-section .award-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.award-section .award-wrapper > div > p:first-child {
  display: inline-flex;
  align-items: center;
  color: #0a093d;
  gap: 5px;
  font-size: 20px;
  font-weight: 500;
  /* background-color: red; */
}

.award-section .award-wrapper > div > p:nth-child(2) {
  display: flex;
  /* gap: 5px; */
  align-items: center;
  color: #5d5b70;
  font-size: 16px;
  font-weight: 500;
  /* color: #0a093d; */
}
.award-section .award-wrapper > div > p:nth-child(2) img {
  padding-top: 7px;
  margin-left: -17px;
}

.award-section .award-wrapper > div > p:nth-child(2) span {
  /* background-color: red; */
  margin: 0 5px 0 5px;
  color: #217bf4;
}

.award-section .award-wrapper > div > p:nth-child(3) {
  margin: 20px 0;
  font-size: 16px;
  color: #8c8c8c;
}

.award-section .award-wrapper > div > a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #217bf4;
  font-size: 16px;
  font-weight: 600;
}
.award-section .award-wrapper > div > a:hover img {
  transition: all 0.4s;
}

.award-section .award-wrapper > div > a:hover img {
  transform: translateX(5px);
}

.award-section .award-wrapper > div:hover,
.member .member-wrapper > div > div:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transform: scale(1.1);
}

/* Award End */

/* Community Start */
.community {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
  padding: 80px 0;
}

.community .container,
.member .container,
.application .container {
  max-width: 990px;
}

.community .community-wrapper > div:first-child {
  text-align: center;
}

.community .community-wrapper > div:first-child > p:first-child {
  color: #217bf4;
  font-size: 18px;
}

.community .community-wrapper > div:first-child > p:last-child {
  color: #656464;
  font-size: 16px;
  width: 50%;
  margin: 0 auto;
}

.community .community-wrapper > div:first-child > h3 {
  color: #0a093d;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.community .community-wrapper > div:last-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
}

.community .community-wrapper > div:last-child > div {
  cursor: pointer;
  transition: all 0.4s;
  width: 45%;
}

.community .community-wrapper > div:last-child > div:hover {
  transform: scale(1.1);
}

.community .community-wrapper > div > div {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  /* background-color: blue; */
}

.community .community-wrapper > div > div h3 {
  color: #2f2c4a;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.community .community-wrapper > div > div p {
  color: #656464;
  font-size: 16px;
}

/* Community End */

/* Member Start */
.member {
  padding: 80px 0;
}

.member .member-wrapper > p,
.member .member-wrapper > h3 {
  text-align: center;
}

.member .member-wrapper > h3 {
  font-size: 36px;
  color: #0a093d;
  font-weight: 700;
}

.member .member-wrapper > p:first-child {
  margin-bottom: 5px;
  color: #217bf4;
  font-weight: 400;
  font-size: 18px;
}

.member .member-wrapper > p:nth-of-type(2) {
  margin: 10px auto;
  width: 50%;
  color: #656464;
  font-size: 16px;
}

.member .member-wrapper > div {
  margin: 80px 0;
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.member .member-wrapper > div > div {
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #ffffff;
  transition: all 0.4s;
  padding: 20px;
}

.member .member-wrapper > div > div h3 {
  color: #2f2c4a;
  font-size: 24px;
  font-weight: 600;
}

.member .member-wrapper > div > div p {
  font-size: 16px;
  color: #656464;
}

/* Member End */

/* Application Start */
.application {
  padding: 80px 0;
}

.application .container {
  background: #e5f0fd;
  padding: 50px 50px;
}

.application .application-wrapper > div:first-child p:first-of-type {
  color: #217bf4;
  font-size: 18px;
}

.application .application-wrapper > div:first-child h1 {
  font-size: 30px;
  font-weight: 700;
  color: #0a093d;
  margin: 10px 0;
}

.application .application-wrapper > div:first-child h1 > span {
  display: block;
}

.application .application-wrapper > div:first-child p:last-of-type {
  width: 70%;
  margin-bottom: 20px;
}

.application .application-wrapper > div:first-child > div {
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 19px;
}

.application .application-wrapper > div:first-child > div > div {
  transition: all 0.3s;
  cursor: pointer;
}

.application .application-wrapper > div:first-child > div > div:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.application .application-wrapper > div:first-child > div > div:first-child {
  background-color: #ffffff;
}

.application .application-wrapper > div:first-child > div > div:first-child a {
  color: #cdcdcd;
  font-weight: 500;
}

.application
  .application-wrapper
  > div:first-child
  > div
  > div:first-child
  a
  span {
  color: #2b2b39;
}

.application .application-wrapper > div:first-child > div > div:last-child {
  background-color: #0a093d;
}

.application .application-wrapper > div:first-child > div > div:last-child a {
  /* font-size: 15px; */
  color: #cdcdcd;
}

.application
  .application-wrapper
  > div:first-child
  > div
  > div:last-child
  a
  span {
  color: #ffffff;
}

.application .application-wrapper > div:first-child > div > div {
  /* background-color: #217bf4; */
  border-radius: 10px;
  padding: 5px 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.application .application-wrapper > div:first-child > div > div a > span {
  display: block;
}

.application .application-wrapper > div:first-child > div > a span {
  display: block;
}

.application .application-wrapper > div:last-child {
  display: flex;
  align-items: end;
}

.application .application-wrapper > div {
  width: 50%;
}

.application .application-wrapper > div:last-child img {
  width: 100%;
  /* height: 100%; */
}

.application .application-wrapper {
  display: flex;
  gap: 20px;
}

/* Application End */

/* News Start */
.news {
  overflow: hidden;
  padding: 80px 0;
}

.news .news-wrapper > p,
h2 {
  text-align: center;
}

.news .news-wrapper > div {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.news .news-wrapper > div > img {
  position: absolute;
}
.news .news-wrapper > div > img:first-of-type {
  left: -16px;
  top: -45px;
  z-index: -1;
}

.news .news-wrapper > div > img:last-of-type {
  bottom: 156px;
  right: -45px;
  z-index: -1;
}

.news .news-wrapper > div > div {
  text-align: center;
  /* background-color: red; */
  width: 30%;
}
.news .news-wrapper > div img {
  width: 70%;
  border-radius: 10px;
}

.news .news-wrapper > div > div h3 {
  font-size: 20px;
  font-weight: 600;
  color: #2f2c4a;
  margin: 20px 0;
}

.news .news-wrapper > div > div h3 span {
  display: block;
}

.news .news-wrapper > div > div > p {
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  align-items: end;
  color: #656464;
  transition: all 0.4s;
}

.news .news-wrapper > div > div > p:hover {
  color: #217bf4;
  gap: 20px;
}

/* News Start */

/* Footer Start */
footer {
  background-color: #2b2b39;
  padding-top: 80px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  /* align-items: center; */
}

.footer-wrapper a {
  color: #e7e7e787;
  font-size: 16px;
}

.footer-wrapper a:hover {
  color: #cdcdcd;
}

.footer-wrapper h3 {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
}

.footer-wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-wrapper > div:last-of-type .form input {
  width: 70%;
  padding: 15px 10px;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  /* position: relative; */
  /* background-color: red; */
}

.footer-wrapper > div:last-of-type .form input::placeholder {
  font-size: 14px;
  color: #717179;
  font-weight: 600;
}

.footer-wrapper > div:last-of-type .form input:focus {
  color: #ffffff;
}

.footer-wrapper > div:last-of-type > p {
  color: #e7e7e781;
  font-size: 16px;
  width: 60%;
  margin: 10px 0;
}

.footer-wrapper > div:last-of-type > .form {
  display: flex;
  /* align-items: end !important;
  justify-content: end; */
  position: relative;
  width: 100%;
}

.footer-wrapper > div:last-of-type > .form > a {
  position: absolute;
  right: 159px;
  padding: 15px 20px;
  background-color: #ffffff;
  color: #2b2b39;
  font-weight: 500;
  border-radius: 10px;
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 30px;
  padding: 20px 0;
  background-color: #20202d;
}

.footer-bottom .footer-bt-wrapper {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.footer-bt-wrapper > div {
  display: flex;
  gap: 20px;
}
.footer-bt-wrapper > div a {
  color: #ffffff;
}

/* Footer End */

/* Responsive */
@media only screen and (min-width: 1120px) {
  .banner-wrapper > div:first-child h1 {
    font-size: 56px;
  }

  .footer-wrapper > div:last-of-type .form input {
    width: 70%;
  }

  .footer-wrapper > div:last-of-type {
    align-items: end;
    justify-content: end;
  }

  .footer-wrapper > div:last-of-type > p {
    text-align: right;
  }
  .footer-wrapper > div:last-of-type .form a {
    right: 0;
  }

  .footer-wrapper > div:last-of-type > .form {
    display: flex;
    align-items: end !important;
    justify-content: end;
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 710px) {
  .header-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .banner-wrapper > div {
    width: 100%;
  }

  .banner-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .banner-wrapper > div:first-child {
    padding-top: 0;
    text-align: center;
  }
  .banner-wrapper > div:first-child > div {
    justify-content: center;
  }

  .banner-wrapper > div:last-child {
    text-align: left;
  }

  .news .news-wrapper > div {
    flex-direction: column;
    gap: 40px;
  }

  .news .news-wrapper > div > div {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .header-wrapper > div > a {
    padding: 5px 10px;
    font-size: 14px;
  }
  .application .application-wrapper > div:first-child > div > div > img {
    width: 25px;
  }

  .footer-wrapper > div:last-of-type .form input {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .header-wrapper > div {
    justify-content: center;
  }
  .header-wrapper > div > a {
    display: none;
    /* background-color: red; */
  }

  .footer-wrapper {
    flex-direction: column;
  }
  .footer-wrapper > div:last-of-type .form input {
    width: 100% !important;
  }

  .footer-wrapper > div:last-of-type .form a {
    right: 0;
  }
}
@media only screen and (max-width: 550px) {
  .application .application-wrapper > div:first-child > div > div:first-child a,
  .application .application-wrapper > div:first-child > div > div:last-child a {
    font-size: 10px;
  }

  .application .container {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 968px) {
  .netbook-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .netbook-wrapper > div {
    width: 100%;
  }

  .netbook-wrapper > div:last-child {
    flex-direction: column;
    align-items: center;
  }
  .netbook-wrapper > div:last-child div:first-child {
    width: 50%;
  }

  .netbook-wrapper > div:last-child div:first-child img {
    /* background-color: red; */
    width: 100%;
    height: 100%;
  }

  .netbook-wrapper > div:last-child div:last-child {
    display: none;
  }

  .netbook-wrapper > div:first-child {
    text-align: center;
  }
  .netbook-wrapper > div:first-child span ~ span {
    display: inline;
  }
}

@media only screen and (max-width: 910px) {
  .footer-wrapper > div:last-of-type .form input {
    width: 60%;
  }
}

@media only screen and (max-width: 995px) {
  .award-section .award-wrapper > div:first-child,
  .award-section .award-wrapper > div:nth-child(2) {
    width: 45%;
    gap: 20px;
  }
  .award-section .award-wrapper > div:last-child {
    width: 100%;
    /* margin-top: 20px; */
  }

  .application .application-wrapper > div:first-child > div > div > img {
    width: 30px;
  }
}

@media only screen and (max-width: 680px) {
  .award-section .award-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .award-section .award-wrapper > div:first-child,
  .award-section .award-wrapper > div:nth-child(2) {
    width: 100%;
  }
}

@media only screen and (max-width: 793px) {
  .community .community-wrapper > div:last-child div {
    width: 100%;
  }
}

@media only screen and (max-width: 890px) {
  .member .member-wrapper > div {
    flex-direction: column;
  }

  .footer-wrapper > div:last-of-type .form input {
    width: 60%;
  }
}

@media only screen and (max-width: 870px) {
  .application .application-wrapper > div:last-child {
    display: none;
  }

  .application .application-wrapper > div:first-child {
    text-align: center;
    width: 100%;
  }

  .application .application-wrapper > div:first-child > p {
    margin: 0 auto;
  }
  .application .application-wrapper > div:first-child > div {
    justify-content: center;
  }
}
